Package: com.arichorn.ytmusicdisablehighcontrasticons
Name: YTMusicDisableHighContrastIcons
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 13)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Brings back the Non-HighContrast Icons on YouTube Music.
Maintainer: arichorn
Author: arichorn
Section: Tweaks
